/*--------------------------------------------------------------
# Theme SASS
- Contains styles for blocks, templates and other assets.
--------------------------------------------------------------*/

@import "../src/unity-bootstrap-theme/_custom-asu-variables.scss";
@import 'media-queries';

/*--------------------------------------------------------------
# Capstone Hero
- (Mobile first)
--------------------------------------------------------------*/

.hero-capstone-wrap {
	background-color: $uds-color-base-gray-2;
	padding: $uds-size-spacing-4;
}

.hero-capstone {

	.acf-innerblocks-container {
		display: contents;
	}

	// Used for
	.wp-block-post-terms.like-h3-gold {
		display: block;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1.75rem;
		letter-spacing: -.0525rem;

		a {
			box-shadow: -.15em 0 0 #ffc627, .15em 0 0 #ffc627;
			background: #ffc627;
			color: #191919;
			text-decoration: none;
			pointer-events: none;
		}
	}
}

// Desktop
@include media-breakpoint-up($md) {
	.hero-capstone {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: repeat(4, min-content);

		max-width: 1220px;
		margin-left: auto;
		margin-right: auto;

		.wp-block-post-featured-image {
			grid-column: 1;
			grid-row: 1 / span 4;
			margin-right: $uds-size-spacing-4;
			max-width: 400px;
			height: auto;
		}

		.acf-innerblocks-container>*:not(.wp-block-post-featured-image) {
			grid-column: 2;
			/* Position other elements in the second column */
		}
	}
}

/*--------------------------------------------------------------
# Sponsor block
- Replicates a style found in Bootstrap v4 called a "media" element.
--------------------------------------------------------------*/

.media.research-theme {
	display: flex;
	align-items: start;
	gap: $uds-size-spacing-1;

	margin: 0;

	+.media.research-theme {
		margin-top: $uds-size-spacing-1;
	}

	img {
		max-width: 40px;
		height: auto;
	}

	.like-h3 {
		font-size: 1.5rem;
		line-height: 1.75rem;
		letter-spacing: -.0525rem;
		font-weight: 700;
		margin-top: $uds-size-spacing-half;
		margin-bottom: $uds-size-spacing-1;
	}
}

.media.project-sponsor {
	display: flex;
	flex-direction: column;

	img {
		max-width: 225px;
		height: auto;
	}

	.sponsor-name {
		margin-bottom: 0;
	}

	&.is-style-horizontal {
		flex-direction: row;
		align-items: flex-start;
		gap: $uds-size-spacing-4;

		.sponsor-name {
			margin-top: 0;
		}
	}
}

.media.project-sponsor+.media.project-sponsor {
	margin-top: $uds-size-spacing-4;
}

/*--------------------------------------------------------------
# Template part, adds dotted line to desktop sidebar
--------------------------------------------------------------*/

// On mobile, produce dotted line ABOVE the column.
@include media-breakpoint-down($md) {
	.dotted-left {
		margin-top: 1rem;
		padding-top: 3rem;
		border-top: 2px dotted $uds-color-base-gray-4;
	}
}

// Desktop, the line is between the columns.
@include media-breakpoint-up($md) {
	.dotted-left {
		margin-left: 1rem;
		padding-left: 3rem;
		border-left: 2px dotted $uds-color-base-gray-4;
	}
}